body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('images/pokeballback.png'); /* Adiciona a imagem de fundo */
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
}

.pokedex {
    width: 550px;
    height: 500px;
    text-align: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 100px;
    border-color: black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 4px solid black;
}




#pokemonContainer {
    margin: 20px;
    max-height: 350px;
    overflow-y: auto; /* Habilita a rolagem vertical se o conteúdo exceder a altura máxima */
    background-image: url('images/Grass.png'); /* Adiciona a imagem de fundo */
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    border-radius: 100px;
    border-color: black;
    border: 3px solid black; 
}

#pokemonContainer img {
    width: 150px;
    height: 150px;
}

#pokemonContainer h2 {
    margin: 10px 0;
}

#searchBar {
    padding: 10px;
    font-size: 16px;
    width: 80%;
    max-width: 300px;
}

#searchButton {
    padding: 10px 15px;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}
